openimages
ipykernel
ipython
matplotlib
pandas
torch
torchvision
mypy
pip
types-Pillow
scikit-image
seaborn
scikit-learn
scipy
bokeh
datasets
datasets[vision]
transformers
fiftyone
flask
albumentations
xarray
shutil
pycocotools
pytorch_lightning